# If you are not sure what all these fields mean, please refer our documentation here:
# http://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-creation-using-zip-configuration
title: MLabs Recruitment Challenge 2019
short_description: Recruitment challenge for acceptance into the new MLabs cohort - ML19
description: templates/description.html
evaluation_details: templates/evaluation_details.html
terms_and_conditions: templates/terms_and_conditions.html
image: logo.jpg
submission_guidelines: templates/submission_guidelines.html
leaderboard_description: You will be competing against your batchmates, so make sure you are on top!
evaluation_script: evaluation_script.zip
remote_evaluation: False
start_date: 2019-10-03 00:00:00
end_date: 2019-10-20 23:59:59
published: True

leaderboard:
  - id: 1
    schema: {"labels": ["accuracy"], "default_order_by": "accuracy"}

challenge_phases:
  - id: 1
    name: Phase 1
    description: templates/challenge_phase_1_description.html
    leaderboard_public: True
    is_public: True
    start_date: 2019-10-03 00:00:00
    end_date: 2019-10-20 23:59:59
    test_annotation_file: annotations/test_annotations_devsplit.json
    codename: phase1
    max_submissions_per_day: 5
    max_submissions_per_month: 50
    max_submissions: 50

dataset_splits:
  - id: 1
    name: Test Split
    codename: test_split

challenge_phase_splits:
  - challenge_phase_id: 1
    leaderboard_id: 1
    dataset_split_id: 1
    visibility: 3
    leaderboard_decimal_precision: 2
    is_leaderboard_order_descending: True