<ul>
    <li>
        Machine learning-based domain-specific problem statements and the corresponding datasets will be provided.
        <!-- are <a href="apply-submit">available on the website</a>. -->
    </li>
    <li>
        Applicants are required to learn some basic domain-related or machine learning concepts, complete the solutions to the problem statements and submit them as instructed for the respective problem set
    </li>
    <li>
        All relevant learning resources required, including help resources for programming languages involved, to successfully solve the problems 
        will be shared.
        <!-- have been <a href="#apply-submit">shared</a> with the problem statements themselves. -->
    </li>
    <!-- <li>
        Applications will need to submit their problem statements by end-of-day October 21, 2018.
    </li> -->
    <li>
        The scoring will be objective based on the output of the code with on a hidden test dataset.
    </li>
    <li>
        Applicants will be expected to be able to defend their submission if selected for an interview with the mentors.
    </li>
</ul>