<section class="probootstrap-section probootstrap-bg-light" id="intro" data-section="intro" style="padding-top:40px;padding-bottom: 0px"> 
        <div class="container">
          <div class="row text-left mb100">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
              <p>
                MLabs is a machine learning-focused accelerator program initiated by NITC alumni. It is aimed at third year students at NITC and intends to enable students to build cutting-edge ML-based products. The framework of the program incorporates technical mentorship from highly accomplished alumni, cohesion with current academic requirements and appropriate guidance for evaluating entrepreneurship as a viable career option. 
              </p>
              <p>
                  The first cohort of MLabs started their journey in 2018 with 3 students. In their 6th semester, they started the program by attempting a computer vision problem (Human pose estimation), with the help of MLabs mentors and conveners. Currently in the 4th year, they have decided to take it up as their major project and bring considerable improvements in the project, by using the technology in a real-world scenario. 
              </p>
              <p>
                  MLabs Recruitment Challenge 2019 is for accepting students of NITC to the new cohort of MLabs.
              </p>
            </div>
          </div>
        </div>
</section>